<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container" ng-app="LoginAuth">

    <header>
    </header>

    <div >
      <div class="container" style="font-size: 14px;">
			  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			    <div class="panel panel-info" >
			      <div class="panel-heading">
			        <div class="panel-title">Login Successfull!</div>
			      </div>
			      <div style="padding-top:30px" class="panel-body" >
			        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
			        <form id="loginform" class="form-horizontal" role="form">
			          <div style="margin-top:10px" class="form-group">
			            <!-- Button -->
			            <div class="col-sm-12 controls">
			              <a id="btn-login" href="http://localhost:3000/"  class="btn btn-success">Logout</a>
			            </div>
			          </div>
			        </form>
			      </div>
			    </div>
			  </div>
			</div>
    </div>

    <footer>
        <% include footer %>
    </footer>
    
</body>
</html>