<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="#/login">Login</a></li>
            <li><a href="#/admin/home">Home</a></li>
            <li><a href="#/posts">Posts</a></li>
            <li><a href="#/admin/tags">Tags</a></li>
        </ul>
    </div>
</nav>