<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Node Authentication</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <!-- <a class="btn btn-success my-2 my-sm-0" ng-if="!isLogin" href="#/login">Login</a> -->
    <!-- <a class="btn btn-success my-2 my-sm-0" ng-if="isLogin" href="#/logout">Logout</a> -->
  </div>
</nav> 